footer {
	position: fixed;
	bottom: 0;
	background-color: white;
	height: 80px;
	width: 100%;
	text-align: center;
	line-height: 30px;
    font-size: 32px;
    font-family: monospace;
    font-weight: bold;
	border-top: 1px solid #CCCCCC;
}
